parameters:
- name: buildConfiguration
  type: string
  default: 'Release'
- name: postBuildSteps
  type: stepList
  default: []
- name: bicepTemplate
  type: string
- name: bicepAdditionalParameters
  type: string
  default: ''

resources:
  containers:
  - container: mssql
    image: mcr.microsoft.com/mssql/server:2022-latest
    env:
      ACCEPT_EULA: Y
      #SA_PASSWORD defined in Build stage
      SA_PASSWORD: $(SA_PASSWORD)
      MSSQL_PID: Developer
    ports: 
      - 1433:1433
    options: --name mssql

stages:
- stage: Build
  dependsOn: []
  jobs:
  - template: build.yml
    parameters:
      postBuildSteps: ${{parameters.postBuildSteps}}
      buildConfiguration: ${{parameters.buildConfiguration}}

- stage: Deploy
  dependsOn: [Build]
  jobs:
  - template: create_env.yml
    parameters:
      template: ${{parameters.bicepTemplate}}
      additionalParameters: ${{parameters.bicepAdditionalParameters}}
  #bicepAdditionalParameters are only passed for Docker
  #https://stackoverflow.com/questions/60098737/checking-for-null-object-type-parameter-in-azure-yaml
  - ${{if not(parameters.bicepAdditionalParameters)}}:
    - template: deploy.nodocker.yml
  - template: deploy.sql.yml

- stage: Delete
  dependsOn: [Deploy]
  jobs:
  - deployment: Delete
    environment: todoItems-teardown
    variables:
      - name: resourcegroupName
        value: $[ stageDependencies.Deploy.Create_Env.outputs['DetermineResourcegroupName.resourcegroupName'] ]
    strategy:
      runOnce:
        deploy:
          steps:
          - download: none
          - task: AzureCLI@2
            inputs:
              azureSubscription: 'Azure'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: 'az group delete --resource-group $(resourcegroupName) --yes'
 
