parameters:
- name: buildConfiguration
  type: string
  default: 'Release'
- name: postBuildSteps
  type: stepList
  default: []
- name: bicepTemplate
  type: string
- name: bicepAdditionalParameters
  type: string
  default: ''

resources:
  containers:
  - container: mssql
    image: mcr.microsoft.com/mssql/server:2022-latest
    env:
      ACCEPT_EULA: Y
      #SA_PASSWORD defined in Build stage
      SA_PASSWORD: $(SA_PASSWORD)
      MSSQL_PID: Developer
    ports: 
      - 1433:1433
    options: --name mssql

stages:
- stage: Build
  dependsOn: []
  jobs:
  - template: build.yml
    parameters:
      postBuildSteps: ${{parameters.postBuildSteps}}
      buildConfiguration: ${{parameters.buildConfiguration}}

- ${{ if eq(variables['Build.Reason'], 'Manual') }}:
  - stage: Deploy
    dependsOn: [Build]
    jobs:
    - template: create_env.yml
      parameters:
        template: ${{parameters.bicepTemplate}}
        additionalParameters: ${{parameters.bicepAdditionalParameters}}
    #bicepAdditionalParameters are only passed for Docker
    #https://stackoverflow.com/questions/60098737/checking-for-null-object-type-parameter-in-azure-yaml
    - ${{if not(parameters.bicepAdditionalParameters)}}:
      - template: deploy.nodocker.yml
    - template: deploy.sql.yml
    - job: Test
      pool:
        vmImage: ubuntu-latest
      ${{if not(parameters.bicepAdditionalParameters)}}:
        dependsOn: [Deploy_DB, Deploy_App]
      ${{else }}:
        dependsOn: [Deploy_DB]
      variables:
        - name: appServiceUrl
          value: $[ dependencies.Create_Env.outputs['SaveDeploymentOutputs.appServiceAppUrl'] ]
      steps:
      - task: NodeTool@0
        inputs:
          versionSource: 'spec'
          versionSpec: '18.x'
      - bash: npm install -g httpyac
      - bash: httpyac "test.http" --all -o short --var host=$(appServiceUrl)

  - stage: Delete
    dependsOn: [Deploy]
    jobs:
    - deployment: Delete
      environment: todoItems-teardown
      variables:
        - name: resourcegroupName
          value: $[ stageDependencies.Deploy.Generate_ResourcegroupName.outputs['DetermineResourcegroupName.resourcegroupName'] ]
      strategy:
        runOnce:
          deploy:
            steps:
            - download: none
            - task: AzureCLI@2
              inputs:
                azureSubscription: 'Azure'
                scriptType: 'bash'
                scriptLocation: 'inlineScript'
                inlineScript: 'az group delete --resource-group $(resourcegroupName) --yes'
