parameters:
- name: dependsOn
  type: object

jobs:
- job: SmokeTests
  pool:
    vmImage: ubuntu-latest
  ${{ if parameters.dependsOn }}:
    dependsOn: ${{parameters.DependsOn}}
  variables:
  - name: appServiceUrl
    value: $[ dependencies.Create_Env.outputs['SaveDeploymentOutputs.appServiceAppUrl'] ]
  steps:
  - checkout: none
  - download: current
    artifact: smoketests
    displayName: Download smoketests
  - task: NodeTool@0
    displayName: Download NodeJS
    inputs:
      versionSource: 'spec'
      versionSpec: '18.x'
  - bash: npm install -g httpyac
    displayName: Install HttpYac
  - bash: httpyac "$(Pipeline.Workspace)/smoketests/test.http" --all -o short --var host=$(appServiceUrl)
    displayName: Execute httpYac Tests
