on:
  workflow_call:
    outputs:
      resourcegroup:
        description: "Random generated resource group name"
        value: ${{jobs.release_artifacts.outputs.resourcegroup}}
defaults:
  run:
    shell: pwsh
jobs:
  release_artifacts:
    runs-on: ubuntu-latest
    outputs:
      resourcegroup: ${{ steps.setupResourcegroup.outputs.resourcegroup }}
    steps:
      - uses: actions/checkout@v3

      - name: Bicep Lint
        run: |
          az bicep build --file main.docker.webapp.bicep
          az bicep build --file main.nodocker.webapp.bicep
        working-directory: Deployment

      - name: Publish Bicep artifact
        uses: actions/upload-artifact@v3
        with:
          name: infraCode
          path: '${{github.workspace}}/Deployment/*.bicep'
          if-no-files-found: error

      - name: Publish Smoketests artifact
        uses: actions/upload-artifact@v3
        with:
          name: smoketests
          path: '${{github.workspace}}/tests/**'
          if-no-files-found: error

      - name: Setup variables
        id: setupResourcegroup
        run: |
          $randomNumber = Get-Random -Minimum 10000000000 -Maximum 99999999999
          echo "resourcegroup=todoItems-$randomNumber" | Out-File -FilePath $Env:GITHUB_OUTPUT -Encoding utf8 -Append
