on:
  workflow_call:
    inputs:
      resourcegroupName:
        type: string
        required: true
        description: Name of the resourcegroup where the information should be deployed to
defaults:
  run:
    shell: pwsh
jobs:
  delete_env:
    permissions: 
      id-token: write
      contents: read
      deployments: write
    runs-on: ubuntu-latest
    environment: AzureRemove
    steps:
      - uses: Azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          
      - uses: Azure/cli@v2
        with:
          inlineScript: az group delete --name ${{ inputs.resourcegroupName }} --yes --no-wait
