name: Build TodoItems Docker
on: 
  schedule:
    - cron:  '0 0 * * 3'
  push:
    paths-ignore:
      - .azuredevops/**
      - .devcontainer/**
      - .vscode/**
      - .github/dependabot.yml
  workflow_dispatch:
    inputs:
      buildConfiguration:
        description: 'Build configuration'
        required: true
        default: 'Release' 
        type: choice
        options:
        - Debug
        - Release

defaults:
  run:
    shell: pwsh
jobs:
  determine_variables:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    outputs:
      buildConfiguration: ${{ steps.setupVars.outputs.buildConfiguration }}
      pushImage: ${{ steps.setupVars.outputs.pushImage }}
    steps:
    - run: echo '${{inputs.buildConfiguration}}'
    - name: Setup variables
      id: setupVars
      run: |
        if("${{inputs.buildConfiguration}}"){
          echo "buildConfiguration=${{inputs.buildConfiguration}}" | Out-File -FilePath $Env:GITHUB_OUTPUT -Encoding utf8 -Append
        }
        else{
          echo "buildConfiguration=Release" | Out-File -FilePath $Env:GITHUB_OUTPUT -Encoding utf8 -Append
        }
  
  build:
    needs: [determine_variables]
    uses: ./.github/workflows/build.yml
    with:
      buildConfiguration: ${{needs.determine_variables.outputs.buildConfiguration}}
    secrets: inherit

  validate_env:
    needs: [build]
    uses: ./.github/workflows/create_env.yml
    with:
      region: ${{ vars.AZURE_REGION }}
      template: /artifacts/bicep/main.docker.webapp.bicep
      additionalParameters: applicationname=todoitems dockerImageNameAndTag=DUMMY
      deploy: false
    secrets: inherit

  dockerfile_artifact:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5
        with:
          name: dockerFile
          path: ${{github.workspace}}/TodoItems.Api/Dockerfile
          if-no-files-found: error

  push_docker_image:
    if: inputs.buildConfiguration != ''
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    outputs:
      dockerTag: ${{ steps.createTag.outputs.dockerTag }}
    env:
      REGISTRY: ghcr.io
      DOCKER_BUILD_SUMMARY: false
      DOCKER_BUILD_RECORD_UPLOAD: false
    needs: [validate_env, dockerfile_artifact, determine_variables]
    steps:
      - uses: actions/download-artifact@v6
        with:
            name: todoItemsApi
            path: ${{github.workspace}}/api
            
      - uses: actions/download-artifact@v6
        with:
            name: dockerFile
            path: ${{github.workspace}}/dockerFile
            
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Create docker tag
        id: createTag
        run: |
          $lowercaseRepo = "${{ github.repository }}".ToLower()
          $dockerTag="${{ env.REGISTRY }}/$lowercaseRepo`:${{ github.sha }}"
          echo "dockerTag=$dockerTag" | Out-File -FilePath $Env:GITHUB_OUTPUT -Encoding utf8 -Append
      - uses: docker/build-push-action@v6
        if: inputs.buildConfiguration != ''
        with:
          context: ${{ github.workspace }}/api
          file: ${{github.workspace}}/dockerFile/Dockerfile
          push: true
          tags: ${{ steps.createTag.outputs.dockerTag }}
      - uses: docker/build-push-action@v6
        if: inputs.buildConfiguration == ''
        with:
          context: ${{ github.workspace }}/api
          file: ${{github.workspace}}/dockerFile/Dockerfile
          push: false
          tags: ${{ steps.createTag.outputs.dockerTag }}

  create_env:
    needs: [build, push_docker_image]
    uses: ./.github/workflows/create_env.yml
    with:
      region: ${{ vars.AZURE_REGION }}
      template: /artifacts/bicep/main.docker.webapp.bicep
      additionalParameters: applicationname=todoitems dockerImageNameAndTag=${{needs.push_docker_image.outputs.dockerTag}}
      deploy: true
    secrets: inherit

  deploy_db:
    needs: [build, create_env]
    uses: ./.github/workflows/deploy_db.yml
    with:
      sqlServerFQDN: ${{needs.create_env.outputs.sqlServerFQDN}}
      databaseName: ${{needs.create_env.outputs.databaseName}}
    secrets: inherit

  smoketests:
    needs: [deploy_db, create_env]
    uses: ./.github/workflows/smoketests.yml
    with:
      webAppUrl: ${{needs.create_env.outputs.webAppUrl}}

  delete_env:
    needs: [create_env, smoketests]
    uses: ./.github/workflows/delete_env.yml
    with:
      resourcegroupName: ${{ needs.create_env.outputs.resourcegroup }}
    secrets: inherit
