on:
  workflow_call: 
    inputs:
      webAppUrl:
        type: string
        required: true
        description: Name of the webbApp on which the tests need to be executed
defaults:
  run:
    shell: pwsh
jobs:
  smoke_tests:
    permissions:
      contents: read
      deployments: write
    runs-on: ubuntu-latest
    environment: AzureProvision
    steps:
      - name: Download test files
        uses: actions/download-artifact@v7
        with:
          name: smoketests
          path: ${{github.workspace}}/artifacts/smoketests

      - name: Execute httpYac tests
        run: docker run --workdir /github/workspace --rm -v ${{github.workspace}}/artifacts/smoketests:/github/workspace ghcr.io/anweber/httpyac:latest test.http --all -o short --var host=${{inputs.webAppUrl}}
